.myCanvas{
  width: 50vw;
  height: 50vh;
  border: solid;
}

.inspector{
  display: flex;
  flex-direction: column;
}

.gameObjectForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  display: flex;
  flex-direction: column;
}

.editor{
  display: flex;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

/* Login Sign up forms, change later */
.form{
  display: grid;
  padding-top: 30px;
}

.formInput{
  height: 300px;
  width: 400px;
  display: grid;
  border: 2px solid;
  grid-column: 2 / 3;
  text-align: left;
  padding: 5px;
  background-color: white;
  border-color: rgba(128, 128, 128, 0.494);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.566) 3px 3px;
}

.SceneCard{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25vw;
  height: 30vh;
  border: solid;
  margin: 1%;
  border-radius: 5%;
}

.SceneButtons{

}

nav{
  height: 20%;
  width: 98%;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
  border: solid black;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.navbar ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-title{
  font-size: 2rem;
}

.navbar a{
  color: inherit;
  text-decoration: none;
}

.ScenesContainer{
  display: -webkit-box;
  overflow: scroll;
}